* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(100deg, #abbdcf, #295991);
    color: white;
    font-family:'Fredoka', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
    letter-spacing: 3px;
}

header, 
form {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: #fff;
    border-radius: 5px 0 0 5px; 
}

form button {
    color: #295991;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 50px;
    font-weight: 800;
    border-radius: 0 5px 5px 0;
}

form button:hover {
    background-color: #295991;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    display: flex;
    margin: 0.5rem;
    background: #fff;
    color: black;
    font-size: 1.7rem;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;
    border-radius: 5px;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background:#ff6338;
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.complete-btn {
    background: #82bb53;
    border-radius: 0;
}

